
*.gz

*.fq

*.out

data/MTB/~$MTB_AllInputRefSeqs_20170726.xlsx

scripts/software_versions.txt

scripts/analysis_blastMTB.R

analysis/OTUs_min2PCRs_min4copies/

data/seqs/folder_B/

analysis/OTUs_min1PCRs_min1copies/
